Name: <%= @client.name() %>
<br /><br />
Stylist: <% @stylist.name() %>


<br /><br />
Delete This Client:
<br />
<form action='/clients/<%= @client.id() %>' method='post'>
  <input name='_method' type='hidden' value='delete'>
  <button type='submit'>Delete</button>
</form>
